server {
    listen 443 ssl;
    listen [::]:443 ssl;

    server_name {{.ServerName}};
    set $project_dir /var/web/{{.RefSlug}};
    root $project_dir/public;
    index index.php;

    ssl_certificate /etc/nginx/ssl/phoenixit.crt;
    ssl_certificate_key /etc/nginx/ssl/phoenixit.key;
    ssl_ciphers "EECDH+AESGCM:EDH+AESGCM:AES256+EECDH:AES256+EDH";
    ssl_protocols TLSv1 TLSv1.1 TLSv1.2;
    ssl_prefer_server_ciphers   on;
    ssl_session_cache shared:SSL:10m;
    ssl_session_timeout  5m;

    add_header Strict-Transport-Security "max-age=15768000" always;
    add_header X-Frame-Options SAMEORIGIN;
    add_header X-Content-Type-Options nosniff;
    ssl_stapling on; # Requires nginx >= 1.3.7
    ssl_stapling_verify on; # Requires nginx => 1.3.7
    ssl_trusted_certificate /etc/ssl/private/ca-certs.pem;
    resolver 8.8.8.8 8.8.4.4 valid=300s;
    resolver_timeout 5s;

	ssl_dhparam /etc/nginx/ssl/dhparam.pem;

	if (!-d $document_root) {
          return 444;
          rewrite ^.*$ https://{{.RefSlug}}.phoenixit.ru;
    	}

    	location ~ ^/bower_components/(.*)$ {
    		alias $project_dir/bower_components/$1;
    	}

	location @bitrix {
          fastcgi_pass 127.0.0.1:{{.Port}};
          fastcgi_read_timeout 60m;
          include fastcgi_params;
          fastcgi_split_path_info ^(.+?\.php)(/.*)$;
          fastcgi_param SCRIPT_FILENAME $document_root/bitrix/urlrewrite.php;
          fastcgi_param PATH_INFO $fastcgi_path_info;
    }

    location /nodejs {
        proxy_pass http://127.0.0.1:{{.Port}};
    }

    location ~ \.php {
      if (!-f $document_root$fastcgi_script_name) {
          error_page 418 = @bitrix;
          return 418;
    }
      fastcgi_pass 127.0.0.1:{{.Port}};
      fastcgi_read_timeout 60m;
      include fastcgi_params;
      fastcgi_split_path_info ^(.+?\.php)(/.*)$;
      fastcgi_param SCRIPT_FILENAME $document_root$fastcgi_script_name;
      fastcgi_param PATH_INFO $fastcgi_path_info;
      fastcgi_buffer_size 128k;
      fastcgi_buffers 4 256k;
      fastcgi_busy_buffers_size 256k;
    }

    location ~ /upload/ {
      client_body_buffer_size 1024m;
      client_max_body_size 1024m;
    }

    location = /favicon.png {
      log_not_found off;
      access_log off;
    }

    location = /robots.txt {
      log_not_found off;
      access_log off;
    }

    location ~* ^.+\.(jpg|jpeg|gif|png|svg|js|css|mp3|ogg|mpe?g|avi|zip|gz|bz2?|rar|eot|otf|ttf|woff|woff2)$ {
      log_not_found off;
      access_log off;
      expires 30d;
      add_header Cache-Control public;
    }

    location ~ (/bitrix/modules|/upload/support/not_image|/bitrix/php_interface|local/modules|local/php_interface) {
      deny all;
    }

    location ~ /.git/ {
      deny all;
    }

    location / {
        try_files $uri $uri/ @bitrix;
    }

}

server {
       listen         80;
       listen    [::]:80;
       server_name    {{.ServerName}};
       return         301 https://$server_name$request_uri;
}
