{
  "server": {
    "giturl": "",
    "nginxtmpl": "/path/to/nginx-ees.tmpl",
    "envtmpl": "/opt/scripts/config/env.tmpl",
    "cmd-dir-exist": "composer install --no-dev --no-progress, php artisan migrate, php artisan optimize, php artisan view:clear, yarn --no-progress, yarn production",
    "cmd-dir-not-exist": "composer install --no-dev --no-progress, php artisan key:generate, php artisan migrate, php artisan optimize, php artisan view:clear, yarn --no-progress, yarn production"
  },
  "rootdir": "/var/web/",
  "dbdir": "/opt/backup/db",
  "storagedir": "/mnt/backup",
  "fpmdir": "/etc/php-fpm.d",
  "nginxdir": "/etc/nginx/conf.d",
  "subdomain": "name.domain.ru"
}